@import "tailwindcss";

:root {
  color-scheme: "light";
  --color-base-100: oklch(97% 0.014 343.198);
  --color-base-200: oklch(94% 0.028 342.258);
  --color-base-300: oklch(89% 0.061 343.231);
  --color-base-content: oklch(52% 0.223 3.958);
  --color-primary: oklch(65% 0.241 354.308);
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: oklch(62% 0.265 303.9);
  --color-secondary-content: oklch(97% 0.014 308.299);
  --color-accent: oklch(82% 0.111 230.318);
  --color-accent-content: oklch(39% 0.09 240.876);
  --color-neutral: oklch(40% 0.153 2.432);
  --color-neutral-content: oklch(89% 0.061 343.231);
  --color-info: oklch(86% 0.127 207.078);
  --color-info-content: oklch(44% 0.11 240.79);
  --color-success: oklch(84.064% 0.14371 164.887);
  --color-success-content: oklch(43% 0.095 166.913);
  --color-warning: oklch(75% 0.183 55.934);
  --color-warning-content: oklch(26% 0.079 36.259);
  --color-error: oklch(63% 0.237 25.331);
  --color-error-content: oklch(97% 0.013 17.38);
  --radius-selector: 1rem;
  --radius-field: 2rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px solid rgba(0, 0, 0, 0.35);
  --depth: 0;
  --noise: 0;
  --hover-bg: rgba(0, 0, 0, 0.1);

  /* override default toast variables */
  --toastify-toast-padding: 0.5rem;
  --toastify-toast-min-height: auto;
}

.dark-mode {
  color-scheme: "dark";
  --color-base-100: oklch(25.33% 0.016 252.42);
  --color-base-200: oklch(23.26% 0.014 253.1);
  --color-base-300: oklch(21.15% 0.012 254.09);
  --color-base-content: oklch(97.807% 0.029 256.847);
  --color-primary: oklch(57.954% 0.23307 277.1);
  --color-primary-content: oklch(96% 0.018 272.314);
  --color-secondary: oklch(65% 0.241 354.308);
  --color-secondary-content: oklch(94% 0.028 342.258);
  --color-accent: oklch(77% 0.152 181.912);
  --color-accent-content: oklch(38% 0.063 188.416);
  --color-neutral: oklch(14% 0.005 285.823);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px solid rgba(255, 255, 255, 0.45);
  --depth: 1;
  --noise: 0;
  --hover-bg: rgba(255, 255, 255, 0.1);
}

html {
  font-family: "Open Sans", sans-serif;
  background-color: var(--color-base-100);
  color: var(--color-base-content);
}

*:focus {
  outline: none;
}

.color-base-100 {
  background-color: var(--color-base-100);
}
.color-base-200 {
  background-color: var(--color-base-200);
}
.color-base-300 {
  background-color: var(--color-base-300);
}
.color-primary {
  background-color: var(--color-primary);
}
.color-secondary {
  background-color: var(--color-secondary);
}
.color-neutral {
  background-color: var(--color-neutral);
}
.color-accent {
  background-color: var(--color-accent);
}
.color-info {
  background-color: var(--color-info);
}
.color-success {
  background-color: var(--color-success);
}
.color-error {
  background-color: var(--color-error);
}
.color-warning {
  background-color: var(--color-warning);
}

.color-base-content {
  color: var(--color-base-content);
}
.color-primary-content {
  color: var(--color-primary-content);
}
.color-secondary-content {
  color: var(--color-secondary-content);
}
.color-neutral-content {
  color: var(--color-neutral-content);
}
.color-accent-content {
  color: var(--color-accent-content);
}
.color-info-content {
  color: var(--color-info-content);
}
.color-success-content {
  color: var(--color-success-content);
}
.color-error-content {
  color: var(--color-error-content);
}
.color-warning-content {
  color: var(--color-warning-content);
}

.solid-border {
  border: var(--border);
}
.solid-border-b {
  border-bottom: var(--border);
}

:hover.hover-bg {
  background-color: var(--hover-bg);
}
:hover.hover-bg-success {
  background-color: var(--color-success);
}

.loader {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: relative;
}
.loader::after,
.loader::before {
  content: "";
  box-sizing: border-box;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background: var(--color-neutral);
  position: absolute;
  left: 0;
  top: 0;
  animation: animloader 2s linear infinite;
}
.loader::after {
  animation-delay: 1s;
}

@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

/* Overall scrollbar styles */
::-webkit-scrollbar {
  width: 7.5px; /* Adjust width */
}

/* Scrollbar track styles */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Scrollbar thumb styles */
::-webkit-scrollbar-thumb {
  background: oklch(62.675% 0.00007 271.152); /* Dark gray thumb color */
  border-radius: 5px; /* Rounded corners for the thumb */
}

/* override default toast mobile behaviour */
@media only screen and (max-width: 480px) {
  .Toastify__toast-container .Toastify__toast {
    --toastify-toast-width: 50% !important;
    --toastify-toast-padding: 0.5rem !important;
    border-radius: 6px !important;
    margin-top: 0.5rem;
  }
}
